@use '../../../styles/variables' as v;

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
  }

  .ProjectsGallery--image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .ProjectsGallery--image {
        width: 400px;
        height: 400px;
      }
  }