@use 'sass:color';

$color-blue: #2A7D98;
$color-orange: #C65300;
$color-white: #ffffff;
$color-grey: #585857;

$font: 'Myriad Pro', sans-serif;
$font-h1: "Caveat", cursive;
                                                