@use '../../../styles/variables' as v;

.Intro--maintitle {
    background-color: rgba(v.$color-grey,0.1);
    color: v.$color-orange;
    font-size: x-large;
    padding: 1rem;
    font-style: italic;
    text-align: center;
}

.Intro--subtitle {
    text-align: center;
    color: v.$color-blue;
    padding: 1rem;
    font-size: large;
}

.Intro--text {
    color: v.$color-grey;
    text-align: center;
    font-size: large;
}
.Intro--contact {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border: solid 1px v.$color-orange;
    border-radius: 1rem;
    max-width: 50%;
    margin: 1.5rem auto;
    a {
        text-decoration: none;
        color: v.$color-orange;
        font-weight: 700;
        margin: auto;
        font-size: large;
    }
}
.contact--phone__logo {
    color: v.$color-grey;

}

.Intro article{
    background-color: v.$color-blue;
}
.Presentation--wrapper {
    display: flex;
    flex-direction: column;

}
.Presentation--title{
    font-size: medium;
    color: v.$color-white;
    padding: 1rem 1rem 0rem 1rem;
}
.Presentation--picture {
    max-width: 100vw;
    width: 800px;
    object-fit: cover;
}
.Presentation--text{
    color: v.$color-white;
    padding: 1rem;
    text-align: justify;
}
.Presentation--picture, .Presentation--wrapper, .Presentation--title, .Presentation--text{
    background-color: inherit;
}

@media (min-width: 768px) {
 .Intro article{
    display: flex;
    flex-direction: row;
 }
 .Presentation--picture {
    max-width: 20vw;
    object-fit: cover;
}
}